* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  body {
    overflow-x: hidden;
    
  }
  nav {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
  }
  #user {
    background-color: blueviolet;
    color: white;
  }
  .icon-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    text-align: center; /* If the text inside the span needs centering */
    padding: 2px 2px;
    background-color: transparent;
  }
  
  .icon-container:hover{
  cursor:pointer;
   border-radius: 4px;
   background-color: #9e9bf8;
  
  }
  /* .active{
    background-color: #e0dfff;
    border-radius: 4px;
  } */
  
  sub{
    margin-top: .9rem;
    font-size: 10px;
  }
  .main{
    height: auto;
    overflow: auto;
    
  }
  .Library-txt{
    border: 1px solid rgb(146, 141, 141);
    border-radius: 5px;
  }
  #pencil,#horizontal,#rectangle,#circle,#right-arrow,#mouse,#hand{
    border: none;
    /* background-color: white; */
  }
  
  .active {
    background-color: #1d16f3;
    border-radius: 4px;
    color: black;
  }
  /* Canvas Style */
  
  canvas{
    width: 100vw;
    height: 100vh;
  }
  @media screen and (min-width: 769px) {
    aside {
      display: none !important;
    }
    .md\:d-none {
      display: none;
    }
    #menu span,
    .books-user span {
      display: block !important;
    }
    .footer2 {
      position: fixed;
      bottom: 0rem;
      left: 0rem;
      right: 0rem;
    }
    .footer2-subcontainer span:nth-child(1) {
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }
    .footer2-subcontainer span:nth-child(3) {
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  
    .undo span {
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }
    .redo span {
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
    }
    .footer2-subcontainer3 {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
    .help-btn button {
      width: 2.8rem;
      height: 2.8rem;
      margin: auto;
      padding: 0;
      outline: none;
    }
  }
  @media screen and (max-width: 768px) {
    sub {
      display: none;
    }
    nav {
      display: flex;
      /* justify-content: center; */
      align-items: center;
      height: 80px;
    }
    #menu span {
      display: none !important;
    }
    #lock,#pan-tool{
      display: none;
    }
    #toolbar {
      overflow-x: scroll;
      padding: 0.3rem 0.1rem;
      padding: 0;
      margin: auto;
    }
    .Library-txt , .Library-txt span {
      display: none;
      /* border:none; */
  
    }
    .icon-container {
      width: auto;
      height: 25px;
      padding: 0;
      margin: 0;
    }
    aside {
      position: absolute;
      top: 28%;
      right: -2%;
      width: 40px;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      border: 1px solid gray;
    }
    .footer1 {
      position: absolute;
      bottom: 0rem;
      left: 0rem;
      right: 0rem;
    }
    .footer2 {
      display: none !important;
    }
  }
  